@import 'fonts.css';

body {
  margin: 0;
}

.activite__header {
  height: 60vh;

  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.activite__button {
  margin-top: 20px;
  margin-left: 4vw;
  padding: 0;

  background: none;
  border: none;

  cursor: pointer;
}

.activite__title {
  font-family: 'avenir-next-bold';
  font-size: 1.7em;
  color: white;
  text-shadow: 0 2px 4px #333;

  margin-bottom: 10px;
  margin-left: 4vw;
}

.activite__content {
  margin: 4vw;

  font-size: 1em;
  font-family: 'avenir-next';
  color: #4A4A4A;
}

.activite__content__header {
  margin-bottom: 20px;

  font-size: 1.3em;
}

.activite__content__text {
  margin: 0;
}
