<%= stylesheet_link_tag "index.css" %>
<div class="container">

<form action="/pages/results" method="GET">
  <input type="text" placeholder="Choisissez votre ville" name="ville">
</form>

<h1>Explorer <span class="text__red">Combinb</span></h1>

<div class="explore">
  <div class="explore__item">
    <div class="explore__image explore__combi__image"></div>
    <p class="explore__text">Combis</p>
  </div>
  <div class="explore__item">
    <div class="explore__image explore__activite__image"></div>
    <p class="explore__text">Activités</p>
  </div>
</div>

<h1>Aux alentours de <span class="text__red">Paris</span></h1>

</div>