<%= stylesheet_link_tag "index" %>
<div class="container">

<form action="/pages/results" method="GET">
  <input type="text" placeholder="Choisissez votre ville" name="ville">
</form>

<h1>Explorer <span class="text__red">Combinb</span></h1>

<h1>Aux alentours de <span class="text__red">Paris</span></h1>

</div>