@import 'fonts.css';

body {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-self: center;
}

/* TEXT STUFF */ 

h1 {
  font-family: 'avenir-next-bold';
  font-size: 1.7em;
  color: #3A3A3A;
}

h2 {
  font-family: 'avenir-next';
  font-size: 1.3em;
  color: #3A3A3A;
}

.text__red {
  color: #F52A12;
}

/* COMBI STUFF */

.container {
  display: flex;
}

.combis {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.combi {
  width: 100%;
  text-decoration: none;
}

.combi:hover {
  text-decoration: none;
}

.combi__img {
  width: 100%;
  max-height: 54vw;
  border-radius: 3px;

  object-fit: cover;
}

.combi__utilities {
  display: flex;
}

.combi__info {
  width: 50%;
}

.combi__info h2 {
  margin: 5px 0 0 0 ;
}

.combi__info p {
  margin: 0 0 20px 0;
}

.combi__actions p {
  margin-top: 0;
}

@media (min-width:692px) {
  .combi {
    width: 47%;

  }

  .combi__img {
    max-height: 25vw;
  }
}

@media (min-width:1000px) {
  .combis:after {
    content: "";
    width: 30%;
  }

  .combi {
    width: 30%;
  }

  .combi__img {
    max-height: 16vw;
  }
}

