@import url('fonts.css');

body {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-self: center;
}

/* SEARCH INPUT */
form {
  align-self: center;
}


input {
  width: 80vw;
  height: 50px;
  margin-top: 15px;
  padding-left: 40px;
  padding-top: 5px;

  border: none;
  border-radius: 1vw;
  box-shadow: 0 0 4px #DDD;
  
  font-size: 1em;
  font-family: 'avenir-next';
  color: #4A4A4A;

  /* manages the icon */
  background-image: url("/assets/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 13px 16px;
}


.explore {
  display: flex;
}

.explore__item {
  margin-right: 2vw;
}

.explore__text {
  font-family: 'avenir-next';
  color: #4A4A4A;
  font-size: 0.8em;
}

.explore__image {
  height: 100px;
  width: 100px;

  background-size: cover;
}

.explore__combi__image {
  background-image: url('/assets/combi_default.jpg');
}

.explore__activite__image {
  background-image: url('/assets/birdies.jpg');
}

/* TEXT-RELATED STUFF */
h1 {
  font-family: "avenir-next-bold";
  font-size: 1.7em;
  color: #3A3A3A;
}

.text__red {
  color: #F52A12;
}

.text {
  font-family: "avenir-next";
  color: #3A3A3A;
  font-size: 15px;
}

/* ACTIVITIES */

.activites {
  display: flex;
}

.activite {
  margin: 0 5px;

  text-decoration: none;
}

.activite__img {
  width: 150px;
  height: 100px;

  border-radius: 3px;
}