@font-face {
  font-family: "avenir-next";
  src: url("/assets/avenir-next.otf") format("truetype");
}

@font-face {
  font-family: "avenir-next-bold";
  src: url("/assets/avenir-next-bold.otf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-self: center;
}

/* SEARCH INPUT */
form {
  align-self: center;
}


input {
  width: 80vw;
  height: 50px;
  margin-top: 15px;
  padding-left: 40px;
  padding-top: 5px;

  border: none;
  border-radius: 1vw;
  box-shadow: 0 0 4px #DDD;
  
  font-size: 1em;
  font-family: 'avenir-next';
  color: #4A4A4A;

  /* manages the icon */
  background-image: url("/assets/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 13px 16px;
}


/* TEXT-RELATED STUFF */
h1 {
  font-family: "avenir-next-bold";
  font-size: 1.7em;
}

.text__red {
  color: #F52A12;
}