@font-face {
  font-family: "avenir-next";
  src: url("/assets/avenir-next.otf") format("truetype");
}

@font-face {
  font-family: "avenir-next-bold";
  src: url("/assets/avenir-next-bold.otf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-self: center;
}

.text__red {
  color: #F52A12;
}

form {
  align-self: center;
}
input {
  width: 80vw;
  height: 7vw;
  min-height: 40px;
  max-height: 60px;
  border-radius: 1vw;
  box-shadow: 0 0 4px #DDD;
 
  border: none;
  font-size: 1em;
  font-family: 'avenir-next';

}

h1 {
  font-family: "avenir-next-bold";
}